@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove "X" icon from search input */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}   


/* ----- BASE ----- */
h1 {
  @apply text-5xl lg:text-6xl font-bold text-[#222] mb-5 break-all sm:break-normal dark:text-gray-50;
}
h2 {
  @apply text-[46px] font-bold text-[#222] mb-5 break-all sm:break-normal dark:text-gray-50;
}
h3 {
  @apply text-xl font-semibold text-[#222] mb-4 break-all sm:break-normal dark:text-gray-50;
}

.section-p1 {
  @apply px-5 sm:px-10 lg:px-20 py-10;
}
.section-m1 {
  @apply my-10;
}

.bg-border {
  @apply text-black/70 border border-gray-200 bg-white
  dark:text-white dark:border-neutral-700 dark:bg-neutral-800;
}
.bg-border-shadow {
  @apply text-black/70 border border-gray-200 bg-white shadow-lg backdrop-blur-xl backdrop-saturate-200 
  dark:text-white dark:border-neutral-700 dark:bg-neutral-800 dark:shadow-md dark:shadow-neutral-700;
}

.borderBlack {
  @apply border border-black/20 focus:border-black/50;
}


/* ----- LOGIN ----- */
.login {
  box-shadow: 0 10px 30px rgba(0, 0, 0, .3);
}

/* ----- NAVBAR ----- */
.navbar-li {
  @apply relative ml-3.5 rounded-l-full list-none border border-transparent transition-transform 
  hover:bg-gray-50 hover:translate-x-3 hover:pl-4 hover:transition-none 
  dark:hover:bg-neutral-900;
}

.navbar-li:hover .link-before {
  box-shadow: 35px 35px 0 10px rgb(249 250 251);
}
html.dark .navbar-li:hover .link-before {
  box-shadow: 35px 35px 0 10px rgb(23 23 23);
}

.navbar-li:hover .link-after {
  box-shadow: 35px -35px 0 10px rgb(249 250 251);
}
html.dark .navbar-li:hover .link-after {
  box-shadow: 35px -35px 0 10px rgb(23 23 23);
}


/* Smartphone */
@media (min-height:624px) {
  .navbar-li:nth-child(7) {
    margin-bottom: calc(100vh - 620px);
  }
}



@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}